.titulo{
    /*margin: 5%;*/
    /*height: 5%;*/
    color: white;
  }
  .buton{
    font-size: 20px;
    border: 0px;
    margin: 5px;
    color: #007bff;
    size: 10px;
  }
  .body{
    background: #5DC1B9;
    margin: 0 auto;
  }
  .numero{
    position: relative;
  }
  
  .titulo-juego{
    color: #17a2b8;;
  }
  .stilo-menu{
    background-color: #DEF1ED !important;
  }